In [1]:
import numpy as np
import pandas as pd

In [5]:
rank_list = pd.read_csv('ranklist.csv')
play_list = pd.read_csv('playlist.csv')

In [3]:
ranklist.head()

      user_id   ranklist_id song_id song_name song_tag tag_count
0    18114912            \N      \N        \N       \N        \N
1    81033783            \N      \N        \N       \N        \N
2    54749156            \N      \N        \N       \N        \N
3  1313848989  1313848989r0  114369        最近       华语         1
4  1313848989  1313848989r0  114369        最近       流行         1

In [9]:
rank_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158881 entries, 0 to 158880
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      158881 non-null  int64
 1   ranklist_id  158881 non-null  object
 2   song_id      158881 non-null  object
 3   song_name    158331 non-null  object
 4   song_tag     158881 non-null  object
 5   tag_count    158881 non-null  object
dtypes: int64(1), object(5)
memory usage: 7.3+ MB

In [6]:
play_list.head()

    user_id playlist_id     playlist_name tag_name
0  18114912  2131272503  「 每个人的青春都有一个任贤齐」       华语
1  18114912  2131272503  「 每个人的青春都有一个任贤齐」       流行
2  18114912  2131272503  「 每个人的青春都有一个任贤齐」       经典
3  81033783   410293251           粤语陈奕迅 .       粤语
4  54749156    77497542         健身房节奏! 烧脂       欧美

In [8]:
play_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19957 entries, 0 to 19956
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        19957 non-null  int64
 1   playlist_id    19957 non-null  object
 2   playlist_name  19957 non-null  object
 3   tag_name       19951 non-null  object
dtypes: int64(1), object(3)
memory usage: 623.8+ KB

~~favourite_list = pd.read_csv('favourite_list.csv')~~

当直接使用pd.read_csv喜欢列表的时候，line 355914行出现了问题，它的song_name出错了。
所以我们拆分成两个dataframe再合起来

In [39]:
# favourite_list = pd.read_csv('favourite_list.csv',skiprows=340000,nrows=30000)
favourite_list_1 = pd.read_csv('favourite_list.csv',nrows=355912)

In [43]:
favourite_list_1.tail()

,user_id,playlist_id,playlist_name,song_id,song_name,song_tag,tag_count
29995,395510767,134018637,黄诗扶喜欢的音乐,5027096,Playing Love,放松,2
29996,395510767,134018637,黄诗扶喜欢的音乐,5027096,Playing Love,清新,1
29997,395510767,134018637,黄诗扶喜欢的音乐,5027096,Playing Love,轻音乐,1
29998,395510767,134018637,黄诗扶喜欢的音乐,503127217,云长,华语,1
29999,395510767,134018637,黄诗扶喜欢的音乐,503127217,云长,古风,2

In [54]:
favourite_list_2 = pd.read_csv('favourite_list.csv',skiprows=355914,header=None,names=['user_id','playlist_id','playlist_name','song_id	','song_name','tag_count'])

In [55]:
favourite_list_2.head()

             user_id playlist_id playlist_name song_id\t song_name tag_count
575288905  893993465  若小城依稀喜欢的音乐        146136    初恋のきた道        \N        \N
575288905  893993465  若小城依稀喜欢的音乐        147030   爱的故事(上)       90后         1
575288905  893993465  若小城依稀喜欢的音乐        147030   爱的故事(上)        华语         1
575288905  893993465  若小城依稀喜欢的音乐        147030   爱的故事(上)        怀旧         1
575288905  893993465  若小城依稀喜欢的音乐        147030   爱的故事(上)        感动         2

In [56]:
favourite_list=favourite_list_1.append(favourite_list_2,ignore_index=True)
favourite_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430928 entries, 0 to 430927
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        430928 non-null  int64
 1   playlist_id    430928 non-null  object
 2   playlist_name  430928 non-null  object
 3   song_id        355912 non-null  object
 4   song_name      430466 non-null  object
 5   song_tag       355912 non-null  object
 6   tag_count      430928 non-null  object
 7   song_id	       74928 non-null   object
dtypes: int64(1), object(7)
memory usage: 26.3+ MB